<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD MAPPER 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="es.fpdual.eadmin.eadmin.mapper.DocumentoMapper">
	<insert id="insertarDocumento">
		INSERT INTO Elemento (
		codigo,
		nombre,
		fechaCreacion,
		fechaUltimaModificacion,
		esPublico,
		tipo,
		estadoDocumento)
		VALUES (
		#{documento.codigo},
		#{documento.nombre},
		#{documento.fechaCreacion},
		#{documento.fechaUltimaModificacion},
		#{documento.publico},
		1,
		#{documento.estado.codigo}
		);
	</insert>

	<delete id="eliminarDocumento">
		DELETE FROM Elemento WHERE codigo = #{documento}
	</delete>

	<update id="actualizarDocumento">
		UPDATE ELEMENTO
		SET
		codigo=#{documento.codigo},
		nombre=#{documento.nombre},
		fechaCreacion=#{documento.fechaCreacion},
		fechaUltimaModificacion=#{documento.fechaUltimaModificacion},
		esPublico=#{documento.publico},
		tipo=1,
		estadoDocumento=#{documento.estado.codigo}

		where codigo = #{documento.codigo}
	</update>

	<resultMap type="es.fpdual.eadmin.eadmin.modelo.Documento"
		id="documentoResultMap">
		<constructor>
			<idArg column="codigo" javaType="int" />
			<arg column="nombre" javaType="String" />
			<arg column="fechaCreacion" javaType="Date" />
			<arg column="esPublico" javaType="Boolean" />
			<arg column="estadoDocumento" javaType="es.fpdual.eadmin.eadmin.modelo.EstadoDocumento" />
			<arg column="fechaUltimaModificacion" javaType="Date" />
		</constructor>
	</resultMap>

	<select id="seleccionarDocumento" resultMap="documentoResultMap">
		<include refid="baseSelectDocumento" />
		and codigo = #{codigo}
	</select>

	<select id="seleccionarTodosLosDocumentos" resultMap="documentoResultMap">
		<include refid="baseSelectDocumento" />
	</select>

	<select id="altaDocumento" resultType="hashmap">
		
	</select>

	<sql id="baseSelectDocumento">
		SELECT codigo,
		nombre,
		fechaCreacion,
		fechaUltimaModificacion,
		esPublico,
		estadoDocumento
		FROM Elemento
		WHERE tipo = 1
	</sql>
	
	<select id="obtenerMaximoMas1" resultType="integer">
		SELECT ISNULL(MAX(codigo), 1) FROM Elemento
	</select>

</mapper>